*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    max-width: 66vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: aqua; */
}

a{
    text-decoration: none;
}

.header-container{
    margin-bottom:2.8rem;

}

.header-title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height:2rem;
    font-weight:700;
    text-align: center;
}

.header-desc{
    max-width: 568px;
    text-align: center;
    color: black;
    margin:0 auto  ;
}

.main-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1,1fr);
}

@media(min-width:935px){
    .main-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(min-width:1380px){
    .main-container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(min-width:1870px){
    .main-container{
        grid-template-columns: repeat(4,1fr);
    }
}

.card-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border:1px solid rgb(111, 110, 110);
    border-radius: 8px;
}
.card-image_container{
    position: relative;
    overflow: hidden;
    height: 7rem;
}

@media(min-width:768px){
    .card-image_container{
        height: 12rem;
    }
}

.card-image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card-title-container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card-container:hover .card-image{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card-title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(28, 25, 25);
}

.card-title-anchor:hover .card-title{
    color: rgb(59, 59, 215);
}

.card-desc{
    color: rgb(113, 104, 104);
    font-size: 1rem;
}

.card-footer-container{
    display: flex;
    justify-content: space-between;
    padding:0 1.5rem;
    padding-bottom: 1.5rem;
    align-items: flex-end;
}

.author-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.author_avatar-container{
    height: 2.5rem;
    width:2.5rem;
    overflow: hidden;
    border: 1px solid rgb(154, 149, 149);
    border-radius: 50%;
    background-color: rgb(240, 235, 235);
}

.author-info-container{
    display: flex;
    flex-direction: column;
}

.author-name{
    color:rgb(38,38,149);
}

.author-date{
    color:rgb(136,126,126);
}

.card-tag-container{
    font-size: 0.77rem;
    border:1px solid rgb(76, 71, 71);
    border-radius:4px;
    line-height: 1.3rem;
    padding:0.25rem 0.5rem;
    color: grey;
}
